/* CSS */

/* SINTAXIS PRINCIPAL */
/* selector {
    propiedad: valor;
   /* }
/* El selector es a lo que van dirigidas
las propiedades que estan dentro de las llaves */

/* PRINCIPALES SELECTORES */
/* el asterisco (UNIVERSAL) sirve para decirle al sistema
que las propiedades dentro de las llaves van a todos
los objetos*/
/* color es el color y en este caso puse azul */
* {
    color: blue;
}

/* DE TIPO es para decirle al sistema que 
las propiedades dentro de las llaves van dirigidos
a los elementos de ese tipo por ejemplo: h1, h2, input, a, etc... */
h1 {
    color: darkblue;
}

/* POR CLASE es para decirle al sistema que las propiedades
van dirigidas a unas clases que tu vas a crear en html */
/* SIEMPRE SE ESCRIBE UN PUNTO ANTES */
.cositas {
    color: rgb(3, 182, 107);
}

/* POR ID es para decirle al sistema que las propiedades
van dirigidas a el id de un elemento*/
/* SIEMPRE SE ESCRIBE CON HASTAG ANTES */
#prueba {
    color: darkcyan;
}

/* POR ATRIBUTO es para decirle al sistema que las propiedades
van dirigidas a el atributo que tu hayas creado*/
/* SIEMPRE VA ENTRE CORCHETES */
[verde="si"] {
    color: green;
}

/* DESCENDIENTE es para decirle al sistema que las propiedades
van dirigidas a todos los descendientes de un objeto */
/* siempre de el mas grande al mas hijo */
h3 p {
    color: darkolivegreen
}
/* en este ejemplo solo cambio los p que estan
dentro de un h3, entonces no cambio el p principal (en donde esta el lorem) */
/* (Tambien funciona con hijos de clases */

/* PSEUDO-CLASES es para decirle al sistema que las propiedades
van dirigidas a pseudos-clases, que son clases que solo se activan en un
evento concreto */
h2:hover {
    color:red !important
}
/* !IMPORTANT es el escalon mas alto de la especificación */
/* Le gana a cualquier cosa */